.c-primary {
  color: $c-primary !important;
}

.c-secondary {
  color: $c-secondary !important;
}

.c-white {
  color: white;
}

.c-gray {
  color: #555;
}

.b-white {
  background-color: white;
}

.b-primary {
  background-color: $c-primary;
}

.b-secondary {
  background-color: $c-secondary;
}

.t-shadow {
  text-shadow: $t-textshadow;
}