.Embed {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden
}

.Embed>.Embed-item,.Embed>iframe,.Embed>embed,.Embed>img,.Embed>object,.Embed>video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border: 0
}

.Embed--16by9 {
  padding-bottom: 56.25%
}

.Embed--9by16 {
  padding-bottom: 130%
}

.Embed--4by3 {
  padding-bottom: 75%
}

.Embed--3by2 {
  padding-bottom: 66.667%
}

.u-fitCover {
  object-fit: cover
}
