.hero {
  position: relative;
  display: flex;
  flex-direction: column;
}

.hero-style {
  background-image: url("/src/assets/congresso.png");
  background-size: cover;
  min-height: 500px;
  background-position: center; 
}

.hero-style2 {
  background-image: url("/src/assets/congresso2.png");
  background-size: cover;
  min-height: 450px;
  background-position: center; 
}

.hero-style3 {
  background-blend-mode: screen;
  background-image: url("/src/assets/white.png"), url("/src/assets/mural.svg");
  background-size: cover;
  min-height: 200px;
  background-position: center; 
  background-attachment: fixed;
}

.hero-gradient {
  background: linear-gradient(180deg, rgba(59,89,152,1) 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.hero-gradient--gray {
  background: rgba(0, 0, 0, 0.55);
}

.hero-gradient--purplegreen {
  background: linear-gradient(180deg, #8CB57E 0%, #7D94C1 100%);
  mix-blend-mode: multiply;
}

.hero-content {
  z-index: 2;
  margin: auto;
  width: 100%;
}

.hero-caption {
  color: #fff;
  h1, p {
    margin-bottom: 30px;
  }
}
