.iconsmosaic {
 
}

.iconsmosaic-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.iconsmosaic-wrap {
  background-color: $c-secondary;
  flex: 0 1 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
  min-width: 33.33%;

  @include media-breakpoint-up(lg) {
    &:nth-child(-n+3) {
      padding-top: 80px;
    }
    &:nth-child(n+3) {
      padding-bottom: 80px;
    }
  }

  .title {
    font-weight: bold;
    font-size: $-base;
    text-transform: uppercase;
  }

  .imgbox {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  img {
    max-width: 105px;
  }

  p {
    font-weight:lighter;
  }
}

.iconsmosaic-nospace {
  flex: 1;
}

.iconsmosaic-style {
  margin: 0;
  background-color: transparent;
  flex: 1;

  @include media-breakpoint-up(lg) {
    &:not(:nth-child(3n)) {
      border-right: 1px solid #ccc;
    }
  }
  @include media-breakpoint-down(lg) {
    flex: 0 50%;
    &:not(:nth-child(even)) {
      border-right: 1px solid #ccc;
    }
    &:not(:nth-last-child(-n+2)) {
      border-bottom: 1px solid #ccc;
    }
  }

}


.iconsmosaic-divider {
  @include media-breakpoint-up(lg) {
    border-bottom: 1px solid #ccc;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }
}