.iconsmosaic {
  position: relative;
}

.iconsmosaic-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  &:first-child {
    .iconsmosaic-wrap {
      padding-top: 80px;
    }
  }
  &:last-child {
    .iconsmosaic-wrap {
      padding-bottom: 80px;
    }
  }
}

.iconsmosaic-wrap {
  background-color: $c-secondary;
  flex: 0 1 24%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  text-align: center;
  margin-bottom: 15px;
  .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .imgbox {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 105px;
  }
  p {
    font-weight:lighter;
  }
}

.iconsmosaic-nospace {
  flex: 1;
}

.iconsmosaic-style {
  margin: 0;
  background-color: transparent;
  flex: 1;
  &:not(:last-child) {
    border-right: 1px solid #ccc;
  }
  @include media-breakpoint-down(xl) {
    &:nth-child(1),
    &:nth-child(2) {
      border-bottom: 1px solid #ccc;
    }
    &:nth-child(1),
    &:nth-child(3) {
      border-right: 1px solid #ccc;
    }
    &:nth-child(2),
    &:nth-child(4) {
      border-right: none;
    }
  }
  @include media-breakpoint-down(sm) {
    &:nth-child(1),
    &:nth-child(3) {
      border-right: none;
    }
    &:nth-child(2),
    &:nth-child(4) {
      border-right: none;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #ccc;
    }
  }
}

.iconsmosaic-style1 {
  @include media-breakpoint-down(xl) {
    flex: 0 49%;
    margin: 1px 1px 5px 1px;
  }
  @include media-breakpoint-down(sm) {
    flex: 0 100%;
    margin: 0 0 5px 0;
  }
}

.iconsmosaic-style {
  @include media-breakpoint-down(xl) {
    flex: 0 50%;
  }
  @include media-breakpoint-down(sm) {
    flex: 0 100%;
  }
}

.iconsmosaic-style2 {
  background-color: white;
  border: 1px solid #ccc;
  min-width: 300px;
}

.iconsmosaic-divider {
  border-bottom: 1px solid #ccc;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
}