.titles {
  font-size: $-xl2;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
  font-weight: bolder;
  color: $c-tertiary;
  margin-bottom: 30px;
  &::after,
  &::before {
    position: absolute;
    content: "";
    width: 48%;
    bottom: 0;
  }
  &::after {
    border-bottom: 2px solid $c-primary;
    left: 0;
  }
  &::before {
    border-bottom: 2px solid $c-secondary;
    right: 0;
  }
}