extends /layouts/template.pug
block main
  include /components/hero.pug
  include /sections/agendamento.pug
  include /sections/galerias.pug
  include /sections/perguntas.pug
  include /sections/map.pug
  include /sections/social.pug