.grid-wrapper
  .grid
    .grid-item
      .icon
      span Item
    .grid-item
      .icon
      span Item
    .grid-item
      .icon
      span Item
    .grid-item
      .icon
      span Item
    .grid-item
      .icon
      span Item
    .grid-item
      .icon
      span Item
