.hero
  .hero-gradient
  include nav-fly.pug
  .container
    .hero-content
      h1 
        span Visite o 
        span Congresso Nacional
      p Conheça o Senado Federal e a Câmara dos Deputados
      a.btn.btn-primary(href="#" title="Agende sua visita") 
      i.fa-solid.fa-calendar-days
      | Agende sua visita 
