section.hero.hero-style
  .hero-gradient
  include nav-fly.pug
  .hero-content
    .container
      .hero-caption
        h1.text-xl6
          strong Visite o <br/> Congresso Nacional
        p.text-xl2 
          | Conheça o Senado Federal e a Câmara dos Deputados
      a.btn.btn-primaryTheme.btn-lg(href="#" title="Agende sua visita") 
        i.fa-solid.fa-calendar-days
        | &nbsp; Agende sua visita
include divider.pug