section.hero.hero-style3
  .hero-gradient.hero-gradient--purplegreen
  .hero-content
    .container
      .hero-caption
        h1.text-xl5.text-center.m-0.t-shadow
          strong LINHA DO TEMPO DAS SEDES DO CONGRESSO
include divider.pug