section.hero.hero-style2
  .hero-gradient.hero-gradient--gray
  include nav-fly.pug
  .hero-content
    .container
      .hero-caption
        h1.text-xl6
          strong Marcos do <br/> Congresso Nacional
include divider.pug