.nav-fly 
  mixin flag(src)
    li 
      a(href="#" title="flag")
        img(src=src alt="flag")
  .container
    .nav-flyList--wrap 
      ul.nav-flyList
        +flag("src/assets/flag-en.svg")
        +flag("src/assets/flag-fr.svg")
        +flag("src/assets/flag-uk.svg")