include ../components/iconsmosaic.pug
section.position-relative
  .container
    .row
      .grid-wrapper
        .grid
          .grid-item
            .icon
            span Item
          .grid-item
            .icon
            span Item
          .grid-item
            .icon
            span Item
          .grid-item
            .icon
            span Item
          .grid-item
            .icon
            span Item
          .grid-item
            .icon
            span Item

      .iconsmosaic-divider
