section#servicos.servicos.section-spacer--default
  .container 
    .row
      .col-md-12.text-center
        h2.title.c-white.spacer-mb--default SERVIÇOS
    .cardbox-flex.cardbox-saparate.animation-element.cardB
      +cardbox('link link-white cardbox-style','assets/servicos/endodontia.svg','ENDODONTIA')
        p Tratamento de canal
      +cardbox('link link-white cardbox-style','assets/servicos/ortodontia.svg','ORTODONTIA')
        p Aparelhos estéticos de porcelana
      +cardbox('link link-white cardbox-style','assets/servicos/clinicageral.svg','CLÍNICA GERAL')
        p Grande Infraestrutura
      +cardbox('link link-white cardbox-style','assets/servicos/cirurgias.svg','CIRURGIAS')
        p Avançadas
    .cardbox-flex.cardbox-saparate.animation-element.cardB
      +cardbox('link link-white cardbox-style','assets/servicos/periodontia.svg','PERIODONTIA')
        p Plásticas gengivais
      +cardbox('link link-white cardbox-style','assets/servicos/esteticaoral.svg','ESTÉTICA ORAL')
        p Botox
      +cardbox('link link-white cardbox-style','assets/servicos/implantondontia.svg','IMPLANTONDONTIA')
        p Guiado por computador
      +cardbox('link link-white cardbox-style','assets/servicos/proteses.svg','PROTESES')
        p Feitas por computador