include ../components/iconsmosaic.pug
section.iconsmosaic
  .container
    .row
      .iconsmosaic-flex
        +iconsmosaic('link link-tertiary iconsmosaic-style','/src/assets/agendamento.svg','Agendamento')
        +iconsmosaic('link link-tertiary iconsmosaic-style','/src/assets/agendamento.svg','Agendamento')
        +iconsmosaic('link link-tertiary iconsmosaic-style','/src/assets/agendamento.svg','Agendamento')
      .iconsmosaic-divider
      .iconsmosaic-flex
        +iconsmosaic('link link-tertiary iconsmosaic-style','/src/assets/idiomas.svg','Idiomas')
        +iconsmosaic('link link-tertiary iconsmosaic-style','/src/assets/idiomas.svg','Idiomas')
        +iconsmosaic('link link-tertiary iconsmosaic-style','/src/assets/idiomas.svg','Idiomas')