//- ATENÇÃO - SE FOR UTILIZAR MAIS DE 6 ÍCONES UTILIZAR O MODELO GRID ABAIXO, ELE É UNIFORME E RELATIVO, PODENDO COLOCAR QUANTOS ÍCONES QUISER.

//- mixin grid-item(src, alt, text)
//-   .grid-item
//-     img(src=src, alt=alt)
//-     span=text
//- section.position-relative
//-   .container
//-     .row
//-       .grid-wrapper
//-         .grid
//-           +grid-item('/src/assets/agendamento.svg','Agendamento','AGENDAMENTO')
//-           +grid-item('/src/assets/escolar.svg','Vista Escolar','VISITA ESCOLAR')
//-           +grid-item('/src/assets/idiomas.svg','Visita em outros idiomas','VISTA EM OUTROS IDIOMAS')
//-           +grid-item('/src/assets/visitasvirtuais.svg','Visitas Virtuais','VISTAS VIRTUAIS')
//-           +grid-item('/src/assets/tematicas.svg','Visitas Temáticas','VISTAS TEMÁTICAS')
//-           +grid-item('/src/assets/docs.svg','Regras e Regulamentos','REGRAS E REGULAMENTOS')

//- ATENÇÃO - MODELO ICONSMOSAIC É ESPECÍFICO PARA ESTE DESIGN, SENDO NECESSÁRIO QUE OS 3 PRIMEIROS ÍCONES TENHA PADDING-TOP E OS TRÉS ÚLTIMOS TENHAM PADDING-BOTTOM. TAMBÉM TEM A LINHA CENTRAL QUE ULTRAPASSA O CONTAINER BOOTSTRAP. ELE NÃO PRESTA OU SERVE CASO AUMENTAR A QUANTIDADE DE ÍCONES.

include ../components/iconsmosaic.pug
section.position-relative
  .container
    .row
      .iconsmosaic
        .iconsmosaic-flex
          +iconsmosaic('/src/assets/agendamento.svg','Agendamento')
          +iconsmosaic('/src/assets/escolar.svg','Vista Escolar')
          +iconsmosaic('/src/assets/idiomas.svg','Visita em outros idiomas')
          +iconsmosaic('/src/assets/visitasvirtuais.svg','Visitas Virtuais')
          +iconsmosaic('/src/assets/tematicas.svg','Visitas Temáticas')
          +iconsmosaic('/src/assets/docs.svg','Regras e Regulamentos')
        .iconsmosaic-divider