section
  .container
    .banners
      .banners-item
        img.img-fluid(src="/src/assets/trip-api.png", alt="Incluir api aqui")
      .banners-item
        img.img-fluid(src="/src/assets/turismo.svg", alt="Turismo Cívico em Brasília")

