include ../components/cards.pug
section.galeria
  .container
    .row
      .col-12.text-center
        h2.titles Galerias 
      .col-6.col-md-3
        a.link-card.link(href="#", title="")
          +card('https://unsplash.it/800/600?random&seed=0','Arte')
      .col-6.col-md-3
        a.link-card.link(href="#", title="")
          +card('https://unsplash.it/800/600?random&seed=1','Arquitetura')
      .col-6.col-md-3
        a.link-card.link(href="#", title="")
          +card('https://unsplash.it/800/600?random&seed=2','Fotos')
      .col-6.col-md-3
        a.link-card.link(href="#", title="")
          +card('https://unsplash.it/800/600?random&seed=3','Dia a dia')