section.perguntas 
  .container 
    .row 
      .col-12.text-center
        h2.titles Perguntas Frequentes
      .col-12 
        #accordionFlush.accordion.accordion-flush
          .accordion-item.rounded-3.border-0.shadow.mb-2
            h2.accordion-header
              button.accordion-button.border-bottom.fw-semibold(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseOne' aria-expanded='true' aria-controls='flush-collapseOne')
                | Perguntas FAQ  #1
            #flush-collapseOne.accordion-collapse.collapse.show(data-bs-parent='#accordionFlush')
              .accordion-body
                p
                  | Please check our more latest Design @ 
                  a(href='https://github.com/viruzvz/') Carlos
          .accordion-item.rounded-3.border-0.shadow.mb-2
            h2.accordion-header
              button.accordion-button.border-bottom.collapsed.fw-semibold(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseTwo' aria-expanded='false' aria-controls='flush-collapseTwo')
                | Perguntas FAQ  #2
            #flush-collapseTwo.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
              .accordion-body
                p
                  | Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita officia distinctio veritatis cumque in omnis, iste culpa animi perferendis ullam vero tempore! Iure voluptatum laudantium illum quisquam natus eaque tempore.
                  | Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias, iste odit quasi dolore nisi tempore dolorem quas praesentium officiis pariatur error aut animi commodi vitae consequatur distinctio. Debitis, incidunt porro.
                  a(href='https://github.com/viruzvz/') Carlos
          .accordion-item.rounded-3.border-0.mb-2.shadow
            h2.accordion-header
              button.accordion-button.border-bottom.collapsed.fw-semibold(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseThree' aria-expanded='false' aria-controls='flush-collapseThree')
                | Perguntas FAQ  #3
            #flush-collapseThree.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
              .accordion-body
                p
                  | Please check our more latest Design @ 
                  a(href='https://github.com/viruzvz/') Carlos
          .accordion-item.rounded-3.border-0.mb-2.shadow
            h2.accordion-header
              button.accordion-button.border-bottom.collapsed.fw-semibold(type='button' data-bs-toggle='collapse' data-bs-target='#flush-collapseFour' aria-expanded='false' aria-controls='flush-collapseFour')
                | Perguntas FAQ  #4
            #flush-collapseFour.accordion-collapse.collapse(data-bs-parent='#accordionFlush')
              .accordion-body
                p
                  | Please check our more latest Design @ 
                  a(href='https://github.com/viruzvz/') Carlos
      .col-12.text-center 
        a.btn.btn-primaryTheme.btn-lg(href="#", title="Link") Veja mais