mixin viewsflipers(src)
  .viewsflipers-wrap
    .timeshape
      .caption 1987
    .timeline
    .viewsimage.Embed.Embed--21by9.Embed--responsive
      img.u-fitCover(src=src, alt="imagem aleatória")
    .viewstext
      .caption
        h3 Lorem ipsum 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil? Beatae vero dolor obcaecati sint ut cumque! Veritatis expedita obcaecati quidem voluptatibus, facere eaque nostrum esse enim cupiditate est magni. orem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil? Beatae vero dolor obcaecati sint ut cumque! Veritatis expedita obcaecati quidem voluptatibus, facere eaque nostrum esse enim cupiditate est magni. orem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, nihil? Beatae vero dolor obcaecati sint ut cumque! Veritatis expedita obcaecati quidem voluptatibus, facere eaque nostrum esse enim cupiditate est magni.


section.readers
  .container 
    .row.c-gray
      .col-lg-5 
        p.text-xl4
          | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      .col-lg-7.py-4
        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', 
        p making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
  include /components/hero-mural.pug
  .container
    .boxoverflow.text-center.py-5
      img(src="src/assets/timeline-congresso.svg", alt="")
    .controls
      a.me-5.arrow-left.arrow
        i.fa-solid.fa-chevron-left
      a.ms-5.arrow-right.arrow
        i.fa-solid.fa-chevron-right
  .viewsflipers
    +viewsflipers('https://unsplash.it/800/600?random&seed=0')
    +viewsflipers('https://unsplash.it/800/600?random&seed=1')
    +viewsflipers('https://unsplash.it/800/600?random&seed=2')
    +viewsflipers('https://unsplash.it/800/600?random&seed=3')
    +viewsflipers('https://unsplash.it/800/600?random&seed=4')