section.socialnt 
  .container 
    .row 
      .col-12.text-center
        a.link.mx-3.link-facebook(href="", title="Facebook Congresso Nacional")
          i.fa-brands.fa-facebook
        a.link.mx-3.link-instagram(href="", title="Instagram Congresso Nacional")
          i.fa-brands.fa-instagram
        a.link.mx-3.link-youtube(href="", title="Youtube Congresso Nacional")
          i.fa-brands.fa-youtube